.header {
    padding: 15px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    background: #fff;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
}

.btn-signup {
    background-color: transparent;
    border: none;
    color: rgba(61, 76, 243, 0.582);
    margin-right: 10px;
}
.btn-signup:hover {
    background-color: rgb(255, 255, 255);
    color: rgba(61, 76, 243, 0.582);
}
.btn-login{
    background-color: rgba(16, 16, 226, 0.74);
    border: none;
}
.btn-login:hover{
    background-color: rgba(120, 120, 216, 0.845);
}