
.header {
    padding: 15px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    height: 80px;
  }

  .search-container {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 5dpx;
    border-radius: 30px;
    background-color: #f6f6f6;
    transition: box-shadow 0.25s;
    box-shadow: 0 0 2px rgba(0,0,0,0.75);
  }
  .search-container:focus-within {
    box-shadow: 0 0 2px rgba(16, 16, 226, 0.74);
  }
  .search-input {
    font-size: 16px;
    margin-left: 10px;
    outline: none;
    border: none;
    background: transparent;
    width: 250px;
  }
  .icon-button {
    background-color:transparent;
    border-radius: 30px;
    border: none;
  }
  .search-input::placeholder, .icon-button { color: #7b7676;}
  
  
  .profile-container {
    position: relative;
    display: inline-block;
    margin-left: 20px;
  }
 
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; 
    right: 0; 
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    z-index: 1;
    width: 150px; 
  }
  

  .profile-container:hover .dropdown-menu {
    display: block;
  }
  
 
  .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-menu ul li {
    padding: 10px;
    text-align: center;
    color: black;
  }

  #option:hover {
    background-color: #f0f0f0; 
  }
  
  #logout {
    color: white;          
    background-color:rgba(16, 16, 226, 0.74); 
    border: none;          
    padding: 10px 20px;     
    border-radius: 4px;     
    cursor: pointer;       
    font-size: 14px;        
  }
  
  #navigation .nav-link:hover  {
    color: rgba(16, 16, 226, 0.74);
}

#profile-pic {
    border: none;
}

.btn-login{
  background-color: rgba(16, 16, 226, 0.74);
  border: none;
  margin-left: 20px;
}
.btn-login:hover{
  background-color: rgba(120, 120, 216, 0.845);
}