.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(141, 141, 240, 0.638);
    width: 100vw;
    height: 100vh;
}

.template {
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 0.5rem;
}

#text {
    text-align: center;
}

#option {
    text-align: center;
}


.password-input-container {
    position: relative;
   
}
.form-control {
    padding-right: 3rem; /* Adds space on the right for the toggle button */
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0;
    text-decoration: underline;
}