/* Globalne postavke */
.header {
  padding: 15px 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger-container{
  position: relative;
}

/* Hamburger meni */
.hamburger-menu {
  display: block; /* Po defaultu sakrij */
  padding-top: 10px;
  padding-bottom: 6px;
  position: absolute;
  top: 150%; 
  right: -200%; 
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 150px; 
  border-radius: 7px;
}

.hamburger-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hamburger-menu ul li {
  padding: 10px;
  text-align: center;
  color: black;
}

/* Stil za hamburger ikonu */
.hamburger-icon {
  display: block; 
  cursor: pointer;
  padding-right: 0.2rem;
}

/* Stil za desktop navigaciju */
.navbar-links {
  display: flex; /* Navigacija vidljiva na većim ekranima */
  gap: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 10px;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #007bff;
}

.profile-container {
  position: relative;
  display: inline-block;
  margin-left: auto;
}

#profile-pic {
  border: none; 
  outline: none;  
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; 
  right: 0; 
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 150px; 
}

.profile-container:hover .dropdown-menu {
  display: block;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  padding: 10px;
  text-align: center;
  color: black;
}

#logout {
  color: white;          
  background-color: rgba(16, 16, 226, 0.74); 
  border: none;          
  padding: 10px 20px;     
  border-radius: 4px;     
  cursor: pointer;       
  font-size: 14px;        
}

/* Responzivnost za manje ekrane */
@media (max-width: 768px) {
  

  .hamburger-icon {
      display: block; /* Prikaži hamburger ikonu */
  }

  .hamburger-menu {
      display: block; 
      right: 10%
  }

  .profile-container {
      margin-left: auto; 
  }
}
