#modal-modal-title{
    text-align: center;
}

#modal-modal-description {
    display: flex;
    align-items: center;
    justify-content: center;
}
#button {
    display: flex;
    justify-content: center;
}