.teacher-box {
  width: 100%; /* Ili neka druga vrijednost prema željenoj širini */
  max-width: 1000px; /* Postavite maksimalnu širinu ako je potrebno */
  margin: 0 auto; /* Centriranje */
  padding: 1rem; /* Dodavanje unutarnjeg razmaka */
  display: flex;
  flex-direction: column;
  border-radius: 10px; /* Zaobljeni rubovi */
}


.teacher-container {
  padding: 0px;
  border-radius: 2rem;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
  height: auto;
  margin-top: 110px;
  width: 100%;
}

.teacher-info {
  display: flex; /* Elementi u redu */
  align-items: center; /* Vertikalno centriranje */
  color: antiquewhite; /* Boja teksta */
  padding: 50px; /* Unutarnji razmak */
  font-size: 1.4rem;
  border: 2px solid antiquewhite;
  border-radius: 2rem;
  gap: 50px; /* Razmak između slike i teksta */
}

.teacher-info img {
  width: 150px; /* Širina slike */
  height: 150px; /* Visina slike */
  border-radius: 50%; /* Zaobljeni rubovi */
  object-fit: cover; /* Slika će se prilagoditi unutar kvadratnog okvira */
  margin-left: 50px; /* Pomak slike ulijevo */
  
}


.teacher-calendar {
  background-color: white;
  padding: 4px;
  border-radius: 2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  height: auto;
  margin-top: 60px;
}

.rate-container {
  margin: 25px;
  /* background-color: rgba(61, 76, 243, 0.582); */
  padding: 25px;
  /* border-radius: 2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .teacher-box {
    flex-direction: column; /* Prikazuje elemente jedan ispod drugog */
    align-items: center; /* Poravnava elemente u sredini */
  }
  
  .teacher-info {
    flex-direction: column; /* Slika iznad teksta */
    align-items: center; /* Centrirano poravnanje */
    font-size: 0.8rem;
  }

  .teacher-info img {
    width: 100px; /* Manja širina slike za mobilne uređaje */
    height: 100px; /* Manja visina slike */
    margin-right: 0; /* Uklanja desni razmak */
    margin-bottom: 20px; /* Dodaje razmak ispod slike */
  }
}
